[submodule "awesome/bling"]
	path = awesome/bling
	url = https://github.com/BlingCorp/bling.git
[submodule "awesome/keyboard_layout"]
	path = awesome/keyboard_layout
	url = https://github.com/echuraev/keyboard_layout.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/NvChad/NvChad
